.about {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $green;
  cursor: default;
  // background-color: $light-navy;

  .about-content {
    // margin-top: 2rem;
    display: flex;
    flex: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    firstLine {
      p {
        color: $light-navy;
      }
    }
    .name {
      color: $lightest-slate;
      font-size: 40px;
    }
    .jobtitle {
      font-size: 35px;
      color: $light-slate;
      white-space: nowrap;
      // & .anim-typewriter {
      //   animation: typewriter 4s steps(44) 1s 1 normal both,
      //     blinkTextCursor 500ms steps(44) infinite normal;
      //   @keyframes typewriter {
      //     from {
      //       width: 0;
      //     }
      //     to {
      //       width: 24em;
      //     }
      //   }
      //   @keyframes blinkTextCursor {
      //     from {
      //       border-right-color: rgba(255, 255, 255, 0.75);
      //     }
      //     to {
      //       border-right-color: transparent;
      //     }
      //   }
      // }
    }

    .description {
      color: $slate;
    }
    .resumeButton {
      font-size: 0.8rem;
      margin-top: 2rem;
      a {
        border: 1px solid $green;
        padding: 0.6rem 1.5rem;
        border-radius: 6px;
        color: $green;
      }
    }
  }
  .about-photo {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    img {
      position: relative;
      width: 350px;
      height: 350px;
      // border: 4px solid $green;
      // border-radius: 50%;
      border-radius: 10px 0;
      object-fit: cover;
    }
    // .square {
    //   z-index: -1;
    //   right: 205px;
    //   bottom: 137px;
    //   position: absolute;
    //   width: 250px;
    //   height: 250px;
    //   border: 4px solid $green;
    //   // border-radius: 50%;
    //   border-radius: 10px 0;
    // }
  }
}

@media (max-width: 777px) {
  .about {
    flex-direction: column-reverse;
    gap: 4rem;
    margin: 100px 0;
  }
}
