@mixin flex($dir, $content, $item) {
  display: flex;
  direction: $dir;
  justify-content: $content;
  align-items: $item;
  //   gap: $gap;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
// $font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
//   system-ui, sans-serif;
// $font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

$dark-navy: #020c1b;
$navy: #0a192f;
$light-navy: #112240;
$lightest-navy: #233554;
$navy-shadow: rgba(2, 12, 27, 0.7);
$dark-slate: #495670;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$white: #e6f1ff;
$green: #64ffda;
$green-tint: rgba(100, 255, 218, 0.1);
$pink: #f57dff;
$blue: #57cbff;

* {
  padding: 0;
  margin: 0;
}
section {
  min-height: 100vh;
  margin: 50px auto;
  padding: 0 8rem;
}
a {
  text-decoration: none;
}
body {
  // font-size: 16px;
  // background-color: $light-navy;
  position: relative;
  background-color: $light-navy;
}
@media (max-width: 777px) {
  section {
    margin: 100px 0;
    padding: 125px 0;
  }
}
